.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-container p{
    font-family: 'Noto Sans TC', sans-serif;
}

.content {
    margin-top: 20px;
}
picture{
    display: flex;
    flex-direction: column;
    align-items: center;
}
